.notes-main-title {
  margin: auto;
  text-align: center;
}

.add-new-note-button {
  margin-top: 25px;
  margin-left: 50px;
}

.notes-container {
  padding-top: 50px;

  .card {
    cursor: pointer;
    overflow: hidden;
    height: 150px;
    border: 1px solid black;
    margin: 5px;
  }
}
